<h1 class='text-center knewave'>About us</h1>
<div class='text-center'>
  <br>
  <h4>No <span class='knewave' style='font-size: 1.3em;'>us</span> just me. So if a I can build this simple web app so can <span class='knewave'>YOU!</span></h4><h4>Watch me build this app on <%= link_to 'Livecoding.tv', '#', class: 'btn btn-primary' %></h4>
  <br>
  <br>
  <%= image_tag 'toni.jpg', alt: 'picture of creator of this app', class: 'toni-circle' %>
</div>
