<h1 class='text-center knewave'>Help center</h1>

<br>
<p>This app is really easy to use if you know how the real Trello app works. If not you can read quick <%= link_to 'explanation', 'http://help.trello.com/article/708-what-is-trello', class: 'btn btn-primary', target: '_blank' %> of the app or watch <%= link_to 'youtube', 'https://www.youtube.com/watch?v=xWiunIolf4s', class: 'btn btn-primary', target: '_blank' %> video. You can also watch <%= link_to 'quick presentation', '#', class: 'btn btn-primary' %> of me building the app on Livecoding.tv.</p>
