<br>
<h1 class='knewave text-center'>Welcome to the Trello clone app </h1>
<br>
<div class='text-center'>
  <h5>This app is build for educational purpose. If you want to use this tool you can download it on</h5>
  <br>
  <%= link_to 'my github account', 'https://github.com/programmertoni/LiveCoding-Trello-clone-app', class: 'btn btn-lg btn-primary', target: '_blank' %>
</div>
