<br>
<h1 class='knewave text-center'>Welcome to the Trello clone app </h1>
<br>
<h5 class='text-center'>This app is build for educational purpose. If you want to use this tool you can download it on github.com/programmertoni</h5>
