<div class='my-form-group'>

  <%= render 'shared/errors', obj: @board %>
  <h1 class='knewave text-center'>Edit Board</h1>

  <%= render 'form' %>
  <br>
  <%= link_to 'Back to the Board', user_board_path(@user, @board), class: 'btn btn-default btn-lg big-opacity' %>
</div>

