<h4 class='board-highlight text-center'>
  Board name: <span class='knewave' style='font-size: 1.5em'><%= @board.name %></span>
</h4>
<%= link_to 'New list', new_user_board_list_path(@user, @board), class: 'btn btn-primary' %>
