<% if logged_in? %>
  <%= link_to "Hi #{current_user.name.capitalize}!", 
               edit_user_path(current_user), 
               class: 'knewave user-button pull-right btn btn-xs btn-info' %>
<% end %>
<div class="jumbotron knewave">
  <div class="container text-center">
    <h1>Trello</h1>
    <h3>clone app</h3>
  </div>
</div>
